.categories {
  width: 100%;
  background-color: $primary-bg-color;
  .categories__inner {
    padding: 100px 35px 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .categories__title {
      margin-bottom: 80px;
      color: $secondary-color;
      font-size: 36px;
      font-weight: 900;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    .categories__list {
      display: flex;
      column-gap: 94px;
      row-gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      .categories__item {
        max-width: 270px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .item__icon {
          margin-bottom: 43px;
        }
        .item__title {
          margin-bottom: 20px;
          font-size: 22px;
          font-weight: 700;
          color: $secondary-color;
        }
        .item__text {
          color: $secondary-color;
          font-size: 16px;
        }
      }
    }
  }
}