.became-caregiver {
  width: 100%;
  padding: 34px 0 29px;
  background-color: #eff7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    color: #0b2a37;
    font-size: 18px;
  }
  a {
    margin-left: 5px;
    font-size: 18px;
    color: #8ae2e2;
    text-decoration: underline;
  }
}
