.footer {
  width: 100%;
  background-color: #0b2a37;
  padding: 80px 40px 90px 100px;
  .footer__inner {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      row-gap: 50px;
    }
    .footer__info {
      max-width: 225px;
      .info__logo {
        margin-bottom: 30px;
      }
      .info__social {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .social__label {
          color: #ffffff;
          font-size: 22px;
          font-weight: 700;
        }
        .social__list {
          display: flex;
          column-gap: 10px;
          .social__link {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #85949b;
            border-radius: 5px;
            .social__icon {
              width: 18px;
              height: 18px;
              fill: #0b2a37;
            }
            &:hover {
              background-color: #0b2a37;
              border: 1px solid #85949b;
              .social__icon {
                fill: #85949b;
              }
            }
          }
        }
      }
      .info__copyright {
        opacity: 0.5;
      }
    }
    .footer__additional {
      display: flex;
      column-gap: 50px;
      .additional__column {
        display: flex;
        flex-direction: column;
        .additional__title {
          margin-bottom: 40px;
          color: #ffffff;
          font-size: 22px;
          font-weight: 700;
        }
        .additional__link {
          margin-bottom: 10px;
          font-size: 16px;
          color: #ffffff;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
