.header {
  width: 100%;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      row-gap: 25px;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      text-align: center;
    }
    .header__left {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navigation {
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 40px;
      .navigation__link {
        font-size: 16px;
        &:hover {
          opacity: 0.7;
        }
      }
      .navigation__menu {
        font-size: 16px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
    .header__logo {
      margin-right: 10px;
    }
    .header__button {
      margin: 0 10px;
      width: fit-content;
      padding: 12px 17px;
      border-radius: 6px;
      font-size: 16px;
      border: 2px solid #ffffff;
      font-weight: 700;
      &:hover {
        background-color: #ffffff;
        color: #66cfcf;
      }
    }
  }
}
