.steps {
  padding: 90px 45px 100px 60px;
  width: 100%;
  background-color: #66cfcf;
  .steps__inner {
    display: flex;
    @media screen and (max-width: 1439px) {
      flex-direction: column;
      row-gap: 50px;
      align-items: center;
      justify-content: center;
    }
    .steps__label {
      max-width: 575px;
      margin-top: 40px;
      margin-right: 70px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media screen and (max-width: 1439px) {
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .label__title {
        margin-bottom: 70px;
        font-size: 80px;
        font-weight: 900;
        @media screen and (max-width: 768px) {
          font-size: 36px;
          margin-bottom: 25px;
        }
      }
      .label__link {
        width: fit-content;
        padding: 25px 50px;
        border-radius: 6px;
        border: 2px solid #ffffff;
        &:hover {
          background-color: #ffffff;
          color: #66cfcf;
        }
        @media screen and (max-width: 768px) {
          padding: 10px 20px;
        }
      }
    }
    .steps__list {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      @media screen and (max-width: 1439px) {
        transform: translateX(-125px);
      }
      @media screen and (max-width: 1439px) {
        transform: translateX(-90px);
      }
      .step__item {
        position: relative;
        margin-left: 120px;
        margin-bottom: 50px;
        display: flex;
        column-gap: 10px;
        text-align: left;
        .item__description {
          max-width: 245px;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          .item__title {
            margin-bottom: 15px;
            font-size: 22px;
            font-weight: 700;
          }
          .item__text {
            font-size: 16px;
          }
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
          text-align: right;
          margin-bottom: 10px;
          margin-left: 260px;
          &:before {
            content: url("../assets/images/steps/arrow-left.png");
            position: absolute;
            top: 25px;
            right: 300px;
            @media screen and (max-width: 768px) {
              content: none;
            }
          }
          &:after {
            content: none;
          }
        }
        &:after {
          content: url("../assets/images/steps/arrow-right.png");
          position: absolute;
          top: 25px;
          left: 310px;
          @media screen and (max-width: 768px) {
            content: none;
          }
        }
        &:last-child {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}
