// fonts
$primary-color: #fff;
$secondary-color: #0b2a37;
$marked-color: #8ae2e2;
// background
$primary-bg-color: #fff;
$secondary-bg-color: #dff0f0;
$steps-bg-color: #66cfcf;
$preferences-bg-color: #005173;
$footer-bg-color: #0b2a37;
$footer-secondary-bg-color: #85949b;
